MeasureClient/Service References/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Pretplati">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Odjavi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajMerenje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajMerenjeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSvaMerenjaMeraca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="measurerId" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="until" type="xs:dateTime" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSvaMerenjaMeracaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiSvaMerenjaMeracaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSveTrenutkeGdeJeMerenje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="measurerId" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="limitType" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSveTrenutkeGdeJeMerenjeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiSveTrenutkeGdeJeMerenjeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSveTrenutkeGdeJeMerenjeNaLokaciji">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="limitType" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSveTrenutkeGdeJeMerenjeNaLokacijiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiSveTrenutkeGdeJeMerenjeNaLokacijiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProsekNaLokaciji">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateUntil" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProsekNaLokacijiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProsekNaLokacijiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifikacijaMerenja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifikacijaMerenjaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>